@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: ModernoFBComp;
    src: url(../font-f/modernofbcomp-semibold.otf);
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    list-style-type: none !important;
    text-decoration: none !important;
}

.fontfamily {
    font-family: "Noto Serif", serif;
}

/* -------root------- */
:root {
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-24: 24px;
    --fs-18: 16px;
    --fs-72: 37px;
    --fs-157: 90px;
    --fs-80: 80px;
    --fs-36: 36px;
    /* --color-- */
    --color-brown: #70675f;
    --color-black: #000000;
    --color-yellow: #ffd600;
    --color-green: #00a106;
    --color-red: #ff0000;
    --color-red-2: #ff1300;
    --color-slati: #A59A90;
}

.header-1 {
    background: #000000;
}

.header-1 marquee div {
    min-height: 52px;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee div {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 15s linear infinite;
}

.marquee div:hover {
    animation-play-state: paused
}

.h-text {
    color: #FFFFFF;
    font-family: "Noto Serif", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
}

.border-red {
    border: 1px solid #FF0000;
    border-radius: 5px;
    padding: 3px;
    margin-left: 8px;
    color: #FF0000;
}

.border-y {
    border: 1px solid #FFD600;
    border-radius: 5px;
    padding: 3px;
    margin-left: 8px;
    color: #FFD600;
}

/* Make it move */
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.bg-imgg {
    background-image: url(../img/png/newbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Hustlin-text {
    font-family: ModernoFBComp;
    font-size: var(--fs-24);
    font-weight: 400;
    line-height: 28.8px;
    color: var(--color-black);
}

.connect-btnn {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-14);
    font-weight: 600;
    line-height: 19.07px;
    color: var(--color-black);
    border: 2px solid var(--color-black);
    width: 165px;
    height: 43px;
}

.connect-btnn:hover {
    background: var(--color-yellow);
    border: 2px solid rgba(0, 0, 0, 1);
    transform: scale(0.8);
    transition: all linear 0.3s;
}

.apps:hover {
    transform: scale(0.8);
    transition: all linear 0.3s;

}

.apps-2:hover {
    transform: scale(0.8);
    transition: all linear 0.3s;
}

.menulist {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 21.79px;
    color: var(--color-black);
}

.border-11 {
    border-left: 2px solid rgba(0, 0, 0, 1) !important;
    border-right: 2px solid rgba(0, 0, 0, 1) !important;
    padding: 10px;
}

.border-tp {
    border-top: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
}

.brdr-lft {
    border-left: none !important;
}

.mainname {
    font-family: ModernoFBComp;
    font-size: var(--fs-157);
    font-weight: 400;
    line-height: 94px;
    color: var(--color-black);
    text-align: center;
}

.img-top-border {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.breacing-pera {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-72);
    font-weight: 400;
    line-height: 58px;
    color: var(--color-black);
    max-width: 1140px;
}

.date-1 {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 21.79px;
    color: var(--color-black);
}

.hustin-pera {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-18);
    font-weight: 400;
    line-height: 33px;
    color: var(--color-black);
}

.readlink {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 21.79px;
    color: var(--color-black);
}

.bder {
    border-top: 2px solid black;
    border-bottom: 2px solid black !important;
}

.bder-2 {
    border-bottom: 2px solid black !important
}

.pdd {
    padding-left: 43px;
    padding-right: 43px;
}

.latest-text {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-72);
    font-weight: 400;
    line-height: 100.8px;
    color: var(--color-black);
}

.etiam {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-36);
    font-weight: 600;
    line-height: 39.85px;
    color: var(--color-black);
}

.date-3 {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-14);
    font-weight: 400;
    line-height: 19.07px;
    color: var(--color-black);
}

.diam-pera {
    font-family: "Noto Serif", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    color: var(--color-black);
    max-width: 327px;

}

.childslider {
    /* border-left: 2px solid rgba(0, 0, 0, 1) !important; */
    /* border-right: 2px solid rgba(0, 0, 0, 1) !important; */
    padding: 25px;
}

.cursor {
    cursor: pointer !important;
}

.most-pera {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 21.79px;
    color: var(--color-black);
    max-width: 438px;
}

.outline-black {
    outline: 2px solid #000000;
}

.box1 {
    width: 238px;
    height: 53px;
}

.btn-sub {
    border-right: 2px solid #000000 !important;
}

.btn-add,
.btn-sub {
    border: none;
    background-color: transparent;
    padding: 24px;
    display: flex;
    align-items: center;
}

.text-e {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-36);
    font-weight: 600;
    line-height: 39.85px;
    color: #000000;
}

.btn-add {
    border-left: 2px solid #000000;
}

.timer {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-36);
    font-weight: 600;
    line-height: 49.03px;
    color: var(--color-red);
}

.timeleft {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-18);
    font-weight: 600;
    line-height: 24.52px;
    color: var(--color-green);
    margin-top: 20px;
}

.mint-btn {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 19.07px;
    color: var(--color-black);
    border: 2px solid black;
    width: 111px;
    height: 43px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.mint-btn:hover {
    background-color: var(--color-yellow);
    transform: scale(0.8);
    transition: all linear 0.3s;

}

.etian-text {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-24);
    font-weight: 400;
    line-height: 26.57px;
    color: var(--color-black);
}

/* timeline */

.timeline {
    position: relative;
    padding-top: 70px;
    padding-bottom: 200px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--color-black);
    top: 95px;
    bottom: 70px;
    left: 30px;
    margin-left: -3px;
}

.timeline-box-right {
    position: relative;
    width: 100%;
    left: 0;
}

.timeline-box-right::after {
    content: "";
    width: 59px;
    height: 59px;
    position: absolute;
    background-image: url(../img/svg/svgtimeline.svg);
    border-radius: 50%;
    top: 14px;
    left: 1px;
    z-index: 1;
}

.timeline-box-left {
    position: relative;
    width: 100%;
    left: 0;
}

.timeline-box-left::after {
    content: "";
    width: 59px;
    height: 59px;
    position: absolute;
    background-image: url(../img/svg/svgtimeline.svg);
    border-radius: 50%;
    top: 6px;
    left: 1px;
    z-index: 1;
}

.timeline-box-left {
    padding: 10px 0px 10px 70px;

}

.timeline-box-right {
    padding: 10px 0px 10px 70px;

}

.timeline-box-right .timeline-para {
    max-width: 495px;
}

.timeline-box-left .timeline-para {
    max-width: 460px;
}

.timeline-box-left .timeline-heading2 {
    max-width: 460px;
}

.max-w-495 {
    max-width: 495px;
}

.timeline-para {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
}

.timeline-heading {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-14);
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
}

.timeline-heading2 {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-18);
    font-weight: 600;
    line-height: 39.85px;
    text-align: left;
}

.arrow_timeline {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 13px;
    bottom: 56px;
}
@media (min-width:576px) {

    /* timeline */
    .timeline::after {
        content: '';
        position: absolute;
        width: 2px;
        background-color: var(--color-black);
        top: 95px;
        bottom: 70px;
        left: 50%;
        margin-left: -3px;
    }

    .timeline-box-left::after {
        content: "";
        width: 59px;
        height: 59px;
        position: absolute;
        background-image: url(../img/png/timelineimg.png);
        border-radius: 50%;
        top: 6px;
        right: -31px;
        left: unset;
    }

    .timeline-box-right::after {
        content: "";
        width: 59px;
        height: 59px;
        position: absolute;
        background-image: url(../img/png/timelineimg.png);
        border-radius: 50%;
        top: 14px;
        left: -31px;
        z-index: 1;
    }

    .timeline-box-right {
        position: relative;
        width: 50%;
        left: 50%;
    }

    .timeline-box-left {
        position: relative;
        width: 50%;
        left: 0;
    }

    .timeline-box-left {
        padding: 10px 36px 10px 10px;
    }

    .arrow_timeline {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 50.35%;
        bottom: 57px;
        transform: translateX(-66%);
    }


}

@media (min-width:992px) {
    :root {
        --fs-14: 14px;
        --fs-16: 16px;
        --fs-24: 24px;
        --fs-18: 18px;
        --fs-72: 72px;
        --fs-157: 157px;
        --fs-80: 80px;
        --fs-36: 36px;
        /* --color-- */
        --color-brown: #70675f;
        --color-black: #000000;
        --color-yellow: #ffd600;
        --color-green: #00a106;
        --color-red: #ff0000;
        --color-red-2: #ff1300;
        --color-slati: #A59A90;
    }

    .mainname {
        line-height: 188.4px;
    }
        .breacing-pera{
            line-height: 100px;
        }
}

@media (max-width: 991.9px) {
    .mobile_view {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 400ms linear;
        /* backdrop-filter: blur(90px); */
        background-color: var(--color-242451);
        z-index: 30;
    }

    .menu_1 {
        z-index: 50;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu_1 span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: var(--color-white);
        display: block;
        border-radius: 30px;
    }

    .menu_1 span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: var(--color-white);
        display: block;
        border-radius: 30px;
    }

    .menu_1 span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: var(--color-white);
        display: block;
        border-radius: 30px;
    }

    .menu_1 span {
        transition: all 400ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
        background-color: var(--color-white);
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
        background-color: var(--color-white);
    }

    .right {
        left: 0;
    }

    .flex-col {
        flex-direction: column;
    }
}